* {
    box-sizing: 0px;
    margin: 0px;
    padding: 0px;
}

#navbar-container {
    background-color: lightblue;
    height: 50px;
    min-width: 1000px;
    width: 100%;
}

#navbar-title {
    float: left;
    margin-top: -6.5px;
    padding-left: 75px;
}

#navbar-menu {
    float: right;
    padding-right: 20px;
    padding-top: 0px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-right: 50px;
    padding-top: 12px;
    font-size: medium;
}

#navbar-container.a {
    text-transform: uppercase;
}

#navbar-container a:hover {
    color: black;
}